<!DOCTYPE html>
<html lang="zh-hans">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>椰羊 cocogoat</title>
        <link rel="icon" href="/static/favicon.ico" />
        <style>
            .noscript:before {
                content: '噢我的老天爷，看起来你没有启用神奇的 JavaScript！它实在是太不可思议了，以至于我们的应用没有它完全没办法工作。老伙计，我以上帝的名义发誓，如果你现在启用它，我们的应用会像石头堆里的黄金一样显眼！';
            }
        </style>
    </head>

    <body>
        <noscript><strong class="noscript"></strong></noscript>
        <main id="toki"></main>
        <div id="vueload"></div>
        <% if (process.env.VUE_APP_PREJS_URL) { %>
        <script src="<%= process.env.VUE_APP_PREJS_URL %>"></script>
        <% } %>
    </body>
</html>
