@use '@/style/theme.scss';
$main: var(--c-theme-sub);
$front: rgba(255, 255, 255, 0.75);
$--color-primary: var(--c-theme);
.cc-user-corner {
    position: fixed;
    top: 0;
    right: 0;
    width: 140px;
    height: 50px;
    z-index: 1000;
    background: var(--c-menu);
}
.m .cc-user-corner {
    width: 50px;
    right: auto;
    left: 0;
    .cc-user-selector {
        width: 52px;
        overflow: hidden;
        .down {
            display: none;
        }
    }
}
.pc .cc-menu {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background: var(--c-theme);
        box-shadow: 2px 0 12px 0 rgb(0 0 0 / 10%);
        .cocogoat {
            width: 50px;
            margin: 0 auto;
            display: block;
            fill: #fff;
        }
    }
    user-select: none;
    box-shadow: 2px 0 12px 0 rgb(0 0 0 / 10%);
    position: fixed;
    z-index: 999;
    width: 80px;
    left: 0;
    top: 0;
    bottom: 0;
    background: $main;
    color: $front;
    font-family: genshin;
    svg {
        transition: fill 0.2s;
        fill: $front;
    }
    padding: 13px 10px;
    padding-top: 65px;
    box-sizing: border-box;
    .nav a {
        display: block;
        height: 60px;
        overflow: hidden;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: center;
        color: $front;
        text-decoration: none;
        margin-bottom: 10px;
        padding: 10px 0;
        transition: all 0.2s;
        i {
            display: block;
            font-size: 25px;
        }
        span {
            font-size: 14px;
            padding-top: 4px;
            display: block;
            position: relative;
        }
        &.router-link-active {
            background: var(--c-menu-active);
            color: $main;
            svg {
                fill: $main;
            }
        }
        &.pc-user {
            cursor: pointer;
            position: absolute;
            bottom: 5px;
            left: 10px;
            right: 10px;
            outline: 0;
        }
        .svg-inline--fa {
            height: 22px;
            margin-bottom: -2px;
        }
    }
    .v-icon {
        &.artifact {
            width: 45px;
            margin-bottom: -7px;
            margin-top: -10px;
        }
        &.achievement {
            width: 38px;
            margin-bottom: -8px;
            margin-top: -6px;
        }
    }
}

.pc.dark {
    .cc-menu .nav a.router-link-active {
        color: var(--c-theme);
        svg {
            fill: var(--c-theme);
        }
    }
}
.cc-header {
    user-select: none;
    -webkit-app-region: drag;
    overflow: hidden;
    position: fixed;
    left: 0;
    padding-left: 100px;
    right: 0;
    top: 0;
    height: 50px;
    z-index: 990;
    background: var(--c-menu);
    border-bottom: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.m {
    .cc-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 55px;
        z-index: 999;
        background: var(--c-menu-active);
        font-family: genshin;
        .logo {
            display: none;
        }
        .nav {
            display: flex;
            height: 100%;
            align-items: center;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            a {
                transition: all 0.2s;
                flex: 1;
                text-align: center;
                text-decoration: none;
                color: #888;
                -webkit-tap-highlight-color: transparent;
                svg {
                    display: block;
                    font-size: 25px;
                    width: 25px;
                    margin: 0 auto;
                    &.v-icon.artifact {
                        width: 44px;
                        height: 37px;
                        margin-bottom: -4px;
                        margin-top: -7px;
                    }
                    &.v-icon.achievement {
                        width: 40px;
                        height: 30px;
                        margin-bottom: -3px;
                        margin-top: -1px;
                    }
                    fill: #888;
                }
                span {
                    font-size: 12px;
                    position: relative;
                }
                &.router-link-active {
                    color: var(--c-theme);
                    & > svg.v-icon {
                        fill: var(--c-theme);
                    }
                }
            }
        }
    }

    &.dark {
        .cc-menu {
            background: var(--c-menu);
        }
    }
    .cc-header {
        padding-left: 0;
        .logo {
            width: 50px;
            height: 50px;
            line-height: 50px;
            padding-top: 6px;
            background: var(--c-theme);
            svg {
                width: 40px;
                height: 40px;
                display: block;
                margin: 0 auto;
                fill: #fff;
            }
        }
    }
}
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    will-change: transform;
    transition: all 0.1s linear;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 991;
}
.slide-right-enter-from {
    transform: translateX(-100%);
}
.slide-right-leave-active {
    transform: translateX(100%);
}
.slide-left-enter-from {
    transform: translateX(100%);
}
.slide-left-leave-active {
    transform: translateX(-100%);
}
.m .hidden-mobile {
    display: none;
}
